/* Color Scheme
https://colorhunt.co/palette/0e185f2fa4ff00ffdde8ffc2
*/
body{
    margin: 0;
    text-align: center;
}

#skills{
    display: none;
}

#profile{
    margin-top: -1vw;
    display: block;
}

#projects{
    display: none;
}

#contact{
    display: none;
}

#pfp{
    position: relative;
    display: block;
    left: 59%;
    width: 7em;
    top: 6em;
    border-radius: 10em;
    border-style: solid;
    border-width: 5px;
}

h2,h3{
    color: #E8FFC2;
    text-align: center;
    font-size: 32px;
}

button{
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
    transition-duration: 0.2s;
    background-color: #00FFDD;
    border-style: none;
    height: 34px;
    width: 24%;
}

button:hover{
    background-color: #2F10FF;
}

td{
    text-align: left;
}

.fillerNavi{
    background-color: #00FFDD;
    height: 34px;
    width: 2%;
}

h4{
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}

p{
    text-align: center;
}

hr{
    border-style: dotted none none none;
    border-width: 5px;
    height: 5px;
    width: 10%;
    border-color: #1C3879;
}

#Overlay{
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    pointer-events: none;
}

#Overlay p {
    font-size: 2vw;
    font-family: 'Permanent Marker', cursive;
    color: #E8FFC2;
}

.Top{
    display: flex;
    position: relative;
    padding-top: 10px;
    background-color: #0E185F;
    height: 500px;
    width: 100%;
}

.Navi{

}

.Mid{
    background-color: #2FA4FF;
    width: 100%;
    padding-bottom: 10px;
    transition:height 1s ease-in-out;
}

#Bottom{
    width: 100%;
    background-color: #E8FFC2;
    height: 4em;
}

/*Id'd Texts*/
#lol{
    position: absolute;
    top: 13%;
    left: 150px;
    color: #00FFDD;
    font-size: 15px;
}

#Name{
    position: absolute;
    left: 41%;
    padding-top: 10px;
    color: #E8FFC2;
    font-size: 5em;
    font-family: 'Permanent Marker', cursive;
}

.Back2Top{
    position: fixed;
    right: 4%;
    bottom: 7%;
}

/*Images*/
#Server_Poster{
    position: absolute;
    width: 250px;
    right: 30%;
    top: 2%;
}

#Fallout76{
    position: absolute;
    width: 250px;
    top: 280px;
    left: 126px;
}

#Unitypng{
    position: absolute;
    width: 450px;
    bottom: 50px;
    right: 450px;
}

.linuxpng{
    height: 100px;
    width: 100px;
}